<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Avalonia" version="11.0.5" targetFramework="net481" />
  <package id="Avalonia.Angle.Windows.Natives" version="2.1.22087.20231008" targetFramework="net481" />
  <package id="Avalonia.BuildServices" version="0.0.29" targetFramework="net481" />
  <package id="Avalonia.Controls.ColorPicker" version="11.0.5" targetFramework="net481" />
  <package id="Avalonia.Controls.DataGrid" version="11.0.5" targetFramework="net481" />
  <package id="Avalonia.Desktop" version="11.0.5" targetFramework="net481" />
  <package id="Avalonia.Diagnostics" version="11.0.5" targetFramework="net481" />
  <package id="Avalonia.FreeDesktop" version="11.0.5" targetFramework="net481" />
  <package id="Avalonia.Native" version="11.0.5" targetFramework="net481" />
  <package id="Avalonia.ReactiveUI" version="11.0.5" targetFramework="net481" />
  <package id="Avalonia.Remote.Protocol" version="11.0.5" targetFramework="net481" />
  <package id="Avalonia.Skia" version="11.0.5" targetFramework="net481" />
  <package id="Avalonia.Themes.Simple" version="11.0.5" targetFramework="net481" />
  <package id="Avalonia.Win32" version="11.0.5" targetFramework="net481" />
  <package id="Avalonia.X11" version="11.0.5" targetFramework="net481" />
  <package id="Azure.Core" version="1.36.0" targetFramework="net481" />
  <package id="Azure.Identity" version="1.10.4" targetFramework="net481" />
  <package id="DynamicData" version="8.1.1" targetFramework="net481" />
  <package id="Guna.UI2.WinForms" version="2.0.4.5" targetFramework="net481" />
  <package id="HarfBuzzSharp" version="7.3.0" targetFramework="net481" />
  <package id="HarfBuzzSharp.NativeAssets.Linux" version="7.3.0" targetFramework="net481" />
  <package id="HarfBuzzSharp.NativeAssets.macOS" version="7.3.0" targetFramework="net481" />
  <package id="HarfBuzzSharp.NativeAssets.WebAssembly" version="7.3.0" targetFramework="net481" />
  <package id="HarfBuzzSharp.NativeAssets.Win32" version="7.3.0" targetFramework="net481" />
  <package id="MicroCom.Runtime" version="0.11.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.3.4" targetFramework="net481" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="4.8.0" targetFramework="net481" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="4.8.0" targetFramework="net481" />
  <package id="Microsoft.CodeAnalysis.CSharp.Scripting" version="4.8.0" targetFramework="net481" />
  <package id="Microsoft.CodeAnalysis.Scripting.Common" version="4.8.0" targetFramework="net481" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net481" />
  <package id="Microsoft.Data.SqlClient" version="5.1.2" targetFramework="net481" />
  <package id="Microsoft.Data.SqlClient.SNI" version="5.1.1" targetFramework="net481" />
  <package id="Microsoft.Identity.Client" version="4.57.0" targetFramework="net481" />
  <package id="Microsoft.Identity.Client.Extensions.Msal" version="4.57.0" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.Abstractions" version="7.0.3" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="7.0.3" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.Logging" version="7.0.3" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.Protocols" version="7.0.3" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="7.0.3" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.Tokens" version="7.0.3" targetFramework="net481" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net481" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1620.0" targetFramework="net481" />
  <package id="Microsoft.SqlServer.Types" version="160.1000.6" targetFramework="net481" />
  <package id="ReactiveUI" version="19.5.1" targetFramework="net481" />
  <package id="SkiaSharp" version="2.88.6" targetFramework="net481" />
  <package id="SkiaSharp.NativeAssets.Linux" version="2.88.6" targetFramework="net481" />
  <package id="SkiaSharp.NativeAssets.macOS" version="2.88.6" targetFramework="net481" />
  <package id="SkiaSharp.NativeAssets.WebAssembly" version="2.88.6" targetFramework="net481" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.6" targetFramework="net481" />
  <package id="Splat" version="14.8.6" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.Collections.Immutable" version="8.0.0" targetFramework="net481" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net481" />
  <package id="System.Configuration.ConfigurationManager" version="8.0.0" targetFramework="net481" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.0" targetFramework="net481" />
  <package id="System.Drawing.Common" version="8.0.0" targetFramework="net481" />
  <package id="System.IdentityModel.Tokens.Jwt" version="7.0.3" targetFramework="net481" />
  <package id="System.IO" version="4.3.0" targetFramework="net481" />
  <package id="System.IO.FileSystem.AccessControl" version="5.0.0" targetFramework="net481" />
  <package id="System.IO.Pipelines" version="8.0.0" targetFramework="net481" />
  <package id="System.Memory" version="4.5.5" targetFramework="net481" />
  <package id="System.Memory.Data" version="8.0.0" targetFramework="net481" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.Reactive" version="6.0.0" targetFramework="net481" />
  <package id="System.Reflection.Metadata" version="8.0.0" targetFramework="net481" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net481" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net481" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.ProtectedData" version="8.0.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net481" />
  <package id="System.Security.Permissions" version="8.0.0" targetFramework="net481" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net481" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net481" />
  <package id="System.Text.Encoding.CodePages" version="8.0.0" targetFramework="net481" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net481" />
  <package id="System.Text.Json" version="8.0.0" targetFramework="net481" />
  <package id="System.Threading.Channels" version="8.0.0" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net481" />
  <package id="Tmds.DBus.Protocol" version="0.15.0" targetFramework="net481" />
</packages>